<% @cars.each do |car|%>
<% if user_signed_in?%>

<%= link_to "View Car", car_path(car) %>

<div class="field">
<p>manufacturing Year: <%= car.manufacture_year %></p> 
</div>

<div class="field">
<p>Fuel Variant: <%= car.fuel_type.map { |fuel_type| fuel_type.capitalize }.to_sentence %></p> 
</div>

<% end %>

</div>
<p>Brand: <%= car.brand%></p>
<div>

</div>
<p>Model: <%= car.model%></p>
<div>

<div class="field">
<p>Price: <%= car.price %></p> 
</div>

<div>
  <% if car.images.attached?  %>
  <%= image_tag car.images.first %>
  <% else %>
    <p>Please insert images</p>
  <% end %> 
</div>

<hr>

<% end %>

