<% @cars.each do |car|%>
</div>
<p>Brand: <%= car.brand%></p>
<div>

<div class="field">
<p>Model: <%= car.model %></p> 
</div>

<div class="field">
<p>Price: <%= car.price %></p> 
</div>

<div class="field">
<p>manufacturing Year: <%= car.manufacture_year %></p> 
</div>

<div>
  <% if car.images.attached?  %>
  <% car.images.each do |image| %>
  <%= image_tag image %>
    <% end %> 
  <% else %>
    <p>Please insert images</p>
  <% end %> 
</div>

<div class="field">
<p>Fuel Variant: <%= car.fuel_type.map { |fuel_type| fuel_type.capitalize }.to_sentence %></p> 
</div>

<%= link_to "View Car", car_path(car) %>

<hr>

<% end %>

