<div>
  <% if @car.images.attached?  %>
    <% @car.images.each do |image| %>
      <div class="col align-self-start">
         <%= image_tag image, width: "300px", height: "210px"%>
      </div>
    <% end %> 
  <% else %>
    <p>Please insert images</p>
  <% end %> 
</div>

  <p> <em> Seller: <%= @car.user.user_name %> </em></p>
  <p>Company: <%= @car.brand%> </p>
  <p>Model: <%= @car.model %></p>
  <p>Price: <%= @car.price %></p>
  <p>manufacture Year: <%= @car.manufacture_year %></p>
  <p>Fuel Variant: <%= @car.fuel_type%></p>
  <!-- <p>Fuel Variant: <%#= @car.fuel_type.map { |fuel_type| fuel_type.capitalize }.to_sentence %></p> -->
</div>


<div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
  <% if Like.where(user: current_user.id, likeable_id: @car.id, like_type: true).present?%>
  <%= link_to "ðŸ‘ðŸ»", likes_path(car_id: @car.id, like_type: true), method: :delete, class: "btn btn-secondary"%>
  <% else %>
  <%= link_to "ðŸ‘ðŸ»", likes_path(car_id: @car.id, like_type: true), method: :post, class: "btn btn-outline-secondary"%>
  <% end %>
</div>
<em>likes Count<%= @car.likes.where(like_type: true).count %></em><br> 
<div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
  <% if Like.where(user: current_user.id, likeable_id: @car.id, like_type: false).present?%>
  <%= link_to "ðŸ‘ŽðŸ»", likes_path(car_id: @car.id, like_type: false), method: :delete, class: "btn btn-secondary"%>
  <% else %>
  <%= link_to "ðŸ‘ŽðŸ»", likes_path(car_id: @car.id, like_type: false), method: :post, class: "btn btn-outline-secondary"%>
  <% end %>
</div>
<em>Unlikes Count<%= @car.likes.where(like_type: false).count %></em><br> 


<% if current_user.id == @car.user_id %>
<ul>
  <li><%= link_to "Edit", edit_car_path(@car) %></li>
  <li><%= link_to "Destroy", car_path(@car),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
<% end %>
<h2>Reviews</h2>
<%= render 'reviews/reviews'  %>


<h2>Add a review:</h2>
<%= render "reviews/form" %>

<% unless @car.user_id == current_user.id %>
<h2>Do you have any enquiries?</h2>
<%= link_to "Inquiry" ,new_inquiry_path(@car) %>
<% end %>
