<%= form_for @inquiry do |form|%>

<p style="display: none;">
	<%= form.label :car_id%>
	<%= form.text_field :car_id, :value => params["format"]%>
</p>
<p>
	<%= form.label :content%>
	<%= form.text_field :content%>
</p>
<p>
	<%= form.label :number%>
	<%= form.text_field :number%><br>
</p>
<p>
	<%= form.submit%>
</p>
<% end %>